<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="keywords" content="理财收益计算器" />
    <meta name="description" content="理财收益计算器" />
    <title>收益计算器</title>

    <link rel="stylesheet" href="css/reset.min.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="css/takeout.css" />

    <script src="js/vue.js"></script>
</head>

<body>
    <header>
        <a class="back" href="../index.html" title="首页">首页</a>
        <h1><a href="javascript:window.location.reload();">理财收益计算器</a></h1>
    </header>

    <div id="app" class="takeout-wrapper" v-cloak>
        <ul class="nav clearfix">
            <li :class="{active: type === 1}" @click="switchType(1)">收益计算</li>
            <li :class="{active: type === 2}" @click="switchType(2)">转让收益计算</li>
        </ul>
        <!-- 收益计算 -->
        <div class="clearfix" v-show="type === 1">
            <div class="left">
                <form id="takeOutForm">
                    <div class="form-group">
                        <label class="label">本金</label>
                        <div class="input-group">
                            <input v-model="money1" class="input" type="number" value="" placeholder="请输入本金" />
                            <span>元</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label">利率</label>
                        <div class="input-group">
                            <input v-model="rate1" class="input" type="number" value="" placeholder="请输入年利率" />
                            <span>%</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label">周期</label>
                        <div class="input-group">
                            <input v-model="days1" class="input" type="number" value="" min="1" placeholder="请输入购买天数" />
                            <span>天</span>
                        </div>
                        <small>购买天数（一年按365天算）</small>
                    </div>
                    <div  class="form-group">
                        <button class="button" type="button" @click="submit1">计算</button>
                    </div>
                </form>
            </div>
            <div class="right">
                <div class="takeout-result">
                    <div class="res-wrapper">
                        <div class="title">计算结果</div>
                        <div class="content">
                            <table>
                                <thead>
                                    <tr>
                                        <th>本金（元）</th>
                                        <th>收益（元）</th>
                                        <th>每天收益（元）</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{money1}}</td>
                                        <td>{{payoff1}}</td>
                                        <td>{{dayPayoff1}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="echarts" ref="echarts" class="echarts"></div>

        <!-- 转让收益计算 -->
        <div class="clearfix" v-show="type === 2">
            <div class="left">
                <form id="takeOutForm">
                    <div class="form-group">
                        <label class="label">本金</label>
                        <div class="input-group">
                            <input v-model="money" class="input" type="number" name="money" value="" placeholder="请输入本金" />
                            <span>元</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label">原利率</label>
                        <div class="input-group">
                            <input v-model="rate" class="input" type="number" name="rate" value="" placeholder="请输入年利率" />
                            <span>%</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label">计划转让利率</label>
                        <div class="input-group">
                            <input v-model="transferRate" class="input" type="number" value="" placeholder="请输入年利率" />
                            <span>%</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label">原天数</label>
                        <div class="input-group">
                            <input v-model="days" class="input" type="number" name="days" value="" min="1" placeholder="请输入购买天数" />
                            <span>天</span>
                        </div>
                        <small>购买天数（一年按365天算）</small>
                    </div>
                    <div class="form-group">
                        <label class="label">剩余天数</label>
                        <div class="input-group">
                            <input v-model="transferDays" class="input" type="number" value="" min="1" placeholder="请输入购买天数" />
                            <span>天</span>
                        </div>
                        <small>剩余天数（一年按365天算）</small>
                    </div>
                    <div  class="form-group">
                        <button class="button" type="button" @click="submit">计算</button>
                    </div>
                </form>
            </div>
            <div class="right">
                <div class="takeout-result">
                    <div class="res-wrapper">
                        <div class="title">计算结果</div>
                        <div class="content">
                            <table>
                                <caption>{{days}}天到期收益</caption>
                                <thead>
                                    <tr>
                                        <th>本金（元）</th>
                                        <th>利率（%）</th>
                                        <th>收益（元）</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{money}}</td>
                                        <td>{{rate}}</td>
                                        <td>{{payoff}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table>
                                <caption>{{hasDays}}天到期收益</caption>
                                <thead>
                                    <tr>
                                        <th>本金（元）</th>
                                        <th>利率（%）</th>
                                        <th>收益（元）</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{money}}</td>
                                        <td>{{rate}}</td>
                                        <td>{{hasDaysPayoff}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table>
                                <caption>理财转让</caption>
                                <thead>
                                    <tr>
                                        <th>转手金额（元）</th>
                                        <th>差价（元）</th>
                                        <th>手续费（元）</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{transferMoney}}</td>
                                        <td>{{differ}}</td>
                                        <td>
                                            <span class="color9">0元</span>
                                            <span class="color9 through">{{charges}}元</span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="3">
                                            <p class="tips"><em>手续费说明：</em>转让价格的0.05%，最少25元；优惠期间0元，优惠时间2018.01.01-2020.01.01</p>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                            <table class="gray">
                                <caption>2020.01.01扣除手续费后</caption>
                                <thead>
                                    <tr>
                                        <th>到手金额（元）</th>
                                        <th>手续费（元）</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{finalMoney}}</td>
                                        <td>
                                            <span class="color9 through">{{charges}}元</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <table>
                                <caption>买家{{transferDays}}天到期收益</caption>
                                <thead>
                                    <tr>
                                        <th>本金（元）</th>
                                        <th>利率（%）</th>
                                        <th>收益（元）</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{money}}</td>
                                        <td>{{transferRate}}</td>
                                        <td>{{transferPayoff}}</td>
                                    </tr>
                                </tbody>
                            </table> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="js/echarts.min.js"></script>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            type: 1,

            // 收益计算
            money1: 50000,
            rate1: 4.2,
            days1: 90,
            payoff1: 0,
            dayPayoff1: 0,

            earnings: [],
            earning: [],

            // 转让收益计算
            money: 50000,
            rate: 4.2,
            days: 90,
            payoff: 0,
            transferRate: 3.9,
            transferDays: 60,
            transferPayoff: 0,
            transferMoney: 0,
            hasDays: 0, // 持有天数
            hasDaysPayoff: 0,
            differ: 0,
            charges: 25,
            finalMoney: 0
        },
        mounted: function() {
            this.$nextTick(function() {
                this.submit1();
                this.submit();
            });
        },
        methods: {
            /**
             * [switch 切换计算方式]
             * @param  {[type]} value [description]
             * @return {[type]}       [description]
             */
            switchType: function(value) {
                this.type = value;
            },
            /**
             * [submit1 收益计算]
             * @return {[type]} [description]
             */
            submit1: function() {
                this.payoff1 = (this.money1 * (this.rate1 / 100) * (this.days1 / 365)).toFixed(2);
                this.dayPayoff1 = (this.payoff1 / this.days1).toFixed(2);

                this.earnings = [];
                this.earning = [];
                for (var i = 1; i <= 60; i++) {
                    var a1 = (this.money1 * (this.rate1 / 100) * (i / 365)).toFixed(2);
                    var a2 = (a1 / i).toFixed(2);
                    this.earnings.push(i);
                    this.earning.push(a2);
                }

                var myChart =  echarts.init(this.$refs.echarts, null, {renderer: 'svg'});
                var minValue = this.getMinValue(this.earning);
                // var option = {
                //     tooltip : {
                //         trigger: 'axis',
                //         axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                //             type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                //         }
                //     },
                //     xAxis: {
                //         type: 'category',
                //         data: this.earnings
                //     },
                //     yAxis: {
                //         min: minValue,
                //         type: 'value'
                //     },
                //     series: [{
                //         data: this.earning,
                //         type: 'bar'
                //     }]
                // };
                var option = {
                    title : {
                        text: '到账金额',
                        subtext: '',
                        x:'center'
                    },
                    tooltip : {
                        trigger: 'item',
                        formatter: "{a} <br/>{b} : {c} ({d}%)"
                    },
                    legend: {
                        orient: 'vertical',
                        left: 'left',
                        data: ['本金','收益']
                    },
                    series : [
                        {
                            name: '访问来源',
                            type: 'pie',
                            radius : '55%',
                            center: ['50%', '60%'],
                            data:[
                                {value: this.money1, name: '本金'},
                                {value: this.payoff1, name: '收益'}
                            ],
                            itemStyle: {
                                emphasis: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                };
                myChart.setOption(option);
            },
            getMinValue: function(datas) {
                var min = datas[0];
                for (var i = 0; i < datas.length; i++) {
                    if (min >= datas[i]) {
                        min = datas[i];
                    }
                }
                return min;
            },
            /**
             * [submit 转让收益计算]
             * @return {[type]} [description]
             */
            submit: function() {
                this.hasDays = this.days - this.transferDays;

                // this.payoff = Math.round(this.money * (this.rate / 100) * (this.days / 365)).toFixed(2);
                this.payoff = (this.money * (this.rate / 100) * (this.days / 365)).toFixed(2);
                this.hasDaysPayoff = (this.money * (this.rate / 100) * (this.hasDays / 365)).toFixed(2);

                this.transferPayoff = (this.money * (this.transferRate / 100) * (this.transferDays / 365)).toFixed(2);
                this.transferMoney = Number(this.money) + (this.payoff - this.transferPayoff);

                this.differ = this.payoff - this.transferPayoff - this.hasDaysPayoff;

                this.charges = (this.transferMoney * 0.05 / 100).toFixed(2);
                if (this.charges < 25) {
                    this.charges = 25;
                }
                this.finalMoney = this.transferMoney - this.charges;
            }
        }
    });
</script>
</html>
